.error-banner{
    background: url(../../images/error/error.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.356);
}

.error-btn{
    background-color: rgb(158, 229, 247);
    border: none;
    padding: 10px 40px;
    border-radius: 20px;
    color: white;
    margin-top: 250px
}

.error-btn:active{
    background-color: rgb(0, 175, 219);
    transform: scale(0.98);
}